body {
    margin: 0;
    color: $black;
    background-color: $grey;
    font-style: normal;
    font-family: $arialFont;
    font-family: $baseFont;
    
  }
  
  a {
    color: $black;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
  
  ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .container {
      margin: 0 auto;
      max-width: 1440px;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .tooltip, .tooltip1 {
    position: fixed;
    display: block;
    
    background-color: $creme;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: left;
    border: 1px solid $black;
    padding: 5px 20px;
    z-index: 2;
    border-radius: 10px;
  }

