// colors

$black: #151515;
$white: #ffffff;
$creme: #FFFBF6;
$grey: #FAF9F9;
$greyGradient: linear-gradient(180deg, #F9F8F8 0%, rgba(249, 248, 248, 0.98) 0.01%, #FFFBF6 100%);

//fonts 

$arialFont: Arial, sans-serif;
$baseFont: 'Comfortaa', cursive;

// Widths

$tabletWidth: 768px;
$desctopWidth: 1300px;