.about {
    &__title {
        top: 121px;
        right: 104px;   
    }

    &__link {
        bottom: 77px;
        left: 104px;
    }
}

.catalog {
    &__title {
        bottom: 103px;
        left: 121px;
    }

    &__link {
        bottom: 57px;
        right: 89px;
    }
}